<footer>
    <section class="upper-footer">
        <article class="footer-img">
            <a href='http://www.cnv.gov.ar/SitioWeb/RegistrosPublicos/DetallesRegistrosPublicos/31794?tipoEntidadId=2' target="_blank" alt="CNV"><img src="/images/logo_cnv.jpg" alt="Comision Nacional de Valores"></a>
        </article>
        <article>
            <a href='https://www.linkedin.com/in/sebastian-gay-bellmann-432bab14b/' alt='Linkedin profile' target="_blank"><i class="fab fa-linkedin"></i></a>
        </article>
        <article class="footer-img">
            <a href="https://www.inviu.com.ar/" target="_blank" alt="Inviu"></a><img src="/images/logo_inviu.jpg" alt="Inviu">
        </article>
    </section>
    <p class="disclosure">Designed by: <a href='https://github.com/bocod' alt='hyperlink to github respository of BOCOD'><i class="fab fa-github"></i>BOCOD | Todos los derechos reservados | &copy2021</a></p>
</footer>