<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,600;1,400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/bed2b4929b.js" crossorigin="anonymous"></script>

    <title>SGB - Asesor</title>
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="upper-main">
            <img src="/images/profilePic.jpg" alt="profile pic">
            <article class="profile-details">
                <h2>SEBASTIAN GAY BELLMAN</h2>
                <p>Productor de AN y ALYC Mat. 804</p>
            </article>
        </section>

        <div class="content-wrapper" id="services">
            <section class="content">
                <h3>El Agente de Negociación...</h3>
                <article>
                    <p>Son personas certificadas ante el Registro de la CNV, con el objeto de 
                    desarrollar actividades comerciales sobre valores negociables, y respetando las Normas CNV.</p>
                    <p>Nuestro rol es brindar un asesoramiento profesional, avalado por la CNV en materia financiera.</p>
                </article>
            </section>

            <section class="content">
                <h3>Cómo operar en el mercado de valores...</h3>
                <article>
                    <p>La agilidad es todo a la hora de invertir. Por eso confío en Inviu que pone el foco en las personas
                        y, juntos, nos apoyamos en la tecnología para ofrecer una experiencia única a través de productos
                        simples, intuitivos y memorables.</p>
                    <p>A través de la app podes operar en el mercado local y off shore desde la comodidad de tu celular,
                        estés donde estés.</p>
                    <p>Para eso contamos con un equipo de soporte profesional y en expansión, que constantemente adapta y
                        mejora los servicios que prestamos a nuestros usuarios.</p>
                </article>
            </section>

            <section class="content">
                <h3>Abrir Cuenta Comitente...</h3>
                <article>
                    <p>Abrir y mantener tu cuenta local es GRATIS: solo se aplican comisiones cuando realices una operación.</p>
                    <p>Necesitás tu DNI, un teléfono con cámara y un e-mail. Descargás la app, escaneás el frente y dorso de tu DNI,
                        y completás tus datos. Luego, te sacás una selfie para que podamos comprobar tu identidad. Al finalizar, te
                        enviaremos un e-mail para validar tu cuenta y, una vez finalizada, ¡listo, ya podés empezar a invertir!</p>
                </article>
            </section>
        </div>

        <section class="contact" id="open-account">
            <h3>Abri tu cuenta</h3>
            <ul>
                <li class="app-button"><a href="https://apps.apple.com/ar/app/inviu/id1516524838"><i class="fab fa-apple"></i> App Store</a></li>
                <li class="app-button"><a href="https://play.google.com/store/apps/details?id=io.igam.inviu.investor&hl=es_AR&gl=US"><i class="fab fa-google-play"></i> Google Play</a></li>
            </ul>
            <p class="referral">Asesor: SGB.INVIU</p>
            <p class="app-button whatsapp" id="contact"><a href="https://wa.me/5493415861718?text=Hola%20Sebastian%20necesito%20asesoramiento%20por%20INVIU%20">Contactame: <i class="fab fa-whatsapp"></i></a></p>
        </section>
    </main>

    <%- include('./partials/footer') %> 

    <script src="/js/index.js"></script>
</body>
</html>